.products {
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center;
}

.product {
    width: 200px;
    height: 200px;
    margin: 20px;
}

img {
    width: 50%;
}

.inputs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px;
}

.title {
    grid-row: 1;
    grid-column: 1;
}

.clear {
    grid-row: 1;
    grid-column: 2;
}

.upc {
    grid-row: 1;
    grid-column: 3;
}